In [2]:
import pandas as pd
import cufflinks as cf
from IPython.display import display, HTML
cf.set_config_file(sharing='public', theme='space', offline=True)
#cf.getThemes() -> obtener temas
pd.read_csv('AAPL.csv', delimiter=',')

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099319,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094137,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087228,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089387,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091978,73449600
...,...,...,...,...,...,...,...
10831,2023-11-29,190.899994,192.089996,188.970001,189.369995,189.369995,43014200
10832,2023-11-30,189.839996,190.320007,188.190002,189.949997,189.949997,48794400
10833,2023-12-01,190.330002,191.559998,189.229996,191.240005,191.240005,45679300
10834,2023-12-04,189.979996,190.050003,187.449997,189.429993,189.429993,43389500
10835,2023-12-05,190.210007,194.399994,190.179993,193.419998,193.419998,66371700

In [5]:
df_apple = pd.read_csv('AAPL.csv', delimiter=',')
df_apple = df_apple.dropna()

df_apple['Year'] = pd.DatetimeIndex(df_apple['Date']).year
df_apple = df_apple[['Date', 'Year', 'Volume']]
df_apple.insert(0, 'Year', df_apple.pop('Year'))
#df_apple.pivot(index=, columns=, values=)
df_apple.head(10)

   Year        Date     Volume
0  1980  1980-12-12  469033600
1  1980  1980-12-15  175884800
2  1980  1980-12-16  105728000
3  1980  1980-12-17   86441600
4  1980  1980-12-18   73449600
5  1980  1980-12-19   48630400
6  1980  1980-12-22   37363200
7  1980  1980-12-23   46950400
8  1980  1980-12-24   48003200
9  1980  1980-12-26   55574400